.toDoContainer {
    display: flex;
    flex-direction: column;
    width: var(--component-w);
    background: var(--bg-color);
    /* border: 1px solid var(--bd-color); */
    backdrop-filter: var(--bg-effect);
    border-radius: 12px;
    border: var(--bd);
    padding: var(--component-pd);
    gap: 0px;
    max-height: 600px;
}

.titleSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: var(--inner-bd);
    align-items: baseline;

    .title {
        font-family: var(--main-font);
        font-size: var(--title-fz);
        font-weight: 700;
        color: var(--glyph-color-filled);
        padding-bottom: 8px;
        line-height: 1;
    }

    .archiveIcon {
        background: rgba(0, 0, 0, 0.2);
    }
}

.archivesBox {
    .titleGroup {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        border-bottom: var(--inner-bd);

        .smallTitle {
            font-family: var(--main-font);
            font-size: var(--title-fz);
            color: var(--glyph-color-filled);
        }

        svg {
            color: var(--glyph-color-filled);
        }
    }

    .toDoList {
        border-bottom: var(--inner-bd);
    }
}

.dateSeparator {
    padding: 2px 12px 2px;
    border-bottom: var(--dimmed-bd);

    .dateSeparatorText {
        font-family: var(--main-font);
        font-size: 10px;
        font-weight: 600;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: var(--glyph-color-minimal);
    }
}



.createNewSection {
    svg {
        transition: all 0.15s;
        color: var(--glyph-color-solid);
        width: 24px;
        height: 24px;
    }

    &:has(+ .createNewInput:hover),
    &:has(+ .createNewInput:focus) {
        svg {
            color: var(--glyph-color-filled);
        }
    }
}

.createNewInput {
    font-size: var(--small-title-fz);
    border-radius: 0px;
    border: none;
    border-top: var(--inner-bd);
    border-bottom: var(--inner-bd);
    background: transparent;
    color: var(--glyph-color-solid);
    transition: all 0.15s;

    &::placeholder {
        color: var(--glyph-color-solid);
    }

    &:hover,
    &:focus {
        background: rgba(255, 255, 255, 0.2);
        border-color: var(--hover-color);
        color: var(--glyph-color-filled);

        &::placeholder {
            font-weight: 600;
            color: var(--glyph-color-filled);
        }
    }
}

.bothWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.toDoItem {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 12px;
    cursor: pointer;
    transition: all 0.15s;
    word-break: break-word;
    color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 0px;


    &:not(:last-child) {
        border-bottom: var(--dimmed-bd);
    }

    &[data-checked] {
        background: rgba(255, 255, 255, 0.2);
        color: var(--glyph-color-minimal);
        font-style: italic;

        .indicator {
            background: var(--light-bg);
            border: var(--inner-bd);
        }
    }

    &:hover {
        background: var(--dark-bg);

        &[data-checked] {
            background: var(--glyph-color-minimal);
        }
    }

    .itemContent {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: center;

        .leftArea {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            .indicator {
                width: 30px;
                height: 30px;
                border-radius: 15px;
                background-color: var(--dark-bg);

                :global(.mantine-CheckboxIndicator-icon) {
                    width: 14px;
                    height: 14px;
                }
            }

            .toDoItemText {
                font-family: var(--main-font);
                font-size: var(--small-title-fz);
            }
        }

        .archiveButton {
            background: transparent;
            color: var(--glyph-color-minimal);
        }
    }
}

.toDoList {
    flex-shrink: 1;
    min-height: 0;
    flex: 1;
}