.toDoContainer {
    display: flex;
    flex-direction: column;
    width: var(--component-w);
    background: var(--bg-color);
    /* border: 1px solid var(--bd-color); */
    backdrop-filter: var(--bg-effect);
    border-radius: 12px;
    border: var(--bd);
    padding: var(--component-pd);
    gap: 12px;
    max-height: 600px;
}

.titleSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: var(--inner-bd);
    align-items: baseline;

    .title {
        font-family: var(--main-font);
        font-size: var(--title-fz);
        font-weight: 700;
        color: var(--glyph-color-filled);
        padding-bottom: 8px;
        line-height: 1;
    }

    .archiveIcon {
        background: rgba(0, 0, 0, 0.2);
    }
}

.archivesBox {
    .titleGroup {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;

        .smallTitle {
            font-family: 'Space Grotesk';
            font-size: 24px;
        }
    }
}

.inputColorPalette {
    --default-color: var(--mantine-color-gray-4);
    --hover-color: var(--mantine-color-teal-6);
}

.createNewSection {
    svg {
        transition: all 0.15s;
        color: var(--default-color);
        width: 24px;
        height: 24px;
    }

    &:has(+ .createNewInput:hover),
    &:has(+ .createNewInput:focus) {
        svg {
            color: var(--hover-color);
            width: 30px;
            height: 30px;
        }
    }
}

.createNewInput {
    font-size: 18px;
    border-radius: 8px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    color: var(--default-color);
    transition: all 0.15s;
    font-weight: 400;

    &::placeholder {
        font-weight: 400;
        color: var(--default-color);
    }

    &:hover,
    &:focus {
        background: rgba(255, 255, 255, 0.2);
        border-color: var(--hover-color);
        color: white;

        &::placeholder {
            font-weight: 600;
            color: var(--hover-color);
        }
    }
}

.bothWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.toDoItem {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    background: var(--dark-bg);
    cursor: pointer;
    transition: all 0.15s;
    word-break: break-word;
    color: rgba(255, 255, 255, 0.7);

    &:hover {
        background: rgba(255, 255, 255, 0.08);
    }

    &[data-checked] {
        background: rgba(255, 255, 255, 0.2);
        color: var(--glyph-color-minimal);
        font-style: italic;
    }

    .itemContent {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: center;

        .leftArea {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
        }

        .archiveButton {
            background: transparent;
            color: var(--glyph-color-minimal);
        }
    }
}

.toDoList {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 5px;
    flex-shrink: 1;
    overflow-y: auto;
}