.section {
    position: relative;
}

.sharedPalette {
    --bg-color: rgba(50, 50, 50, 0.2);
    --bd: none;
    --bg-effect: blur(10px);
    --glyph-color-minimal: rgba(255,255,255,0.5);
    --glyph-color-solid: rgba(255,255,255,0.7);
    --glyph-color-filled: rgba(255,255,255,1);
    --title-fz: 30px;
    --main-font: 'Space Grotesk';
    --inner-bd: 1px solid rgba(255, 255, 255, 0.5);
    --component-pd: 16px;
    --component-rd: 12px;
    --component-w: 400px;
}

.component {
    position: absolute;
    z-index: 10;
}

.backgroundComponent {
    position: absolute;
    inset: 0;
}