.section {
    position: relative;
    container-type: size;

    &.hasFullscreenModule {
        position: static;
    }
}

.component {
    position: absolute;
    z-index: 10;
    transition: opacity 0.25s ease;
    width: var(--component-w);
    height: auto;

    &.fullsize {
        width: calc(100% - 20px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.dimmed {
    opacity: 0;
    pointer-events: none;
}

.backgroundComponent {
    position: absolute;
    inset: 0;
}