.sectionDivider {
    flex-shrink: 0;
    height: 8px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: ns-resize;
    z-index: 50;
    transition: background 0.15s;
    background: rgba(0, 0, 0, 1);

    .sectionDividerGrip {
        width: 40px;
        height: 2px;
        border-radius: 2px;
        background: rgba(255, 255, 255, 0.5);
        transition: opacity 0.15s;
        pointer-events: none;
    }

    @media (aspect-ratio > 1) {
        height: 100%;
        width: 8px;
        cursor: ew-resize;

        .sectionDividerGrip {
            width: 2px;
            height: 40px;
        }
    }
}

.page {
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100%;
    height: 100%;

    @media (aspect-ratio > 1) {
        flex-direction: row;
    }

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        z-index: 0;
        pointer-events: none;
        background-color: var(--dark-bg);
        background-image: radial-gradient(circle, var(--glyph-color-minimal) 2px, transparent 1px);
        background-size: 40px 40px;
        opacity: 0;
        transition: opacity 0.2s;
    }

    &.builderMode::before {
        opacity: 1;
    }
}