.analogWrapper {
    background: var(--bg-color);
    backdrop-filter: var(--bg-effect);
    border-radius: 1000px;
    padding: 0px;
    margin: 0px;
    width: var(--component-w);
    aspect-ratio: 1;

    :global(.react-clock__mark__body) {
        background-color: var(--mantine-color-gray-0);
    }

    :global(.react-clock__face) {
        border: var(--bd);
    }

    .showBorder :global(.react-clock__face) {
        border: 2px solid var(--mantine-color-gray-0);
    }

    :global(.react-clock__second-hand__body) {
        background-color: var(--mantine-color-red-6);
    }

    :global(.react-clock__minute-hand__body) {
        background-color: var(--mantine-color-gray-0);
    }

    :global(.react-clock__hour-hand__body) {
        background-color: var(--mantine-color-gray-0);
    }

    :global(.react-clock__mark__number) {
        color: var(--mantine-color-gray-0);
        font-family: var(--main-font);
    }

    .bigClock {
        :global(.react-clock__mark__number) {
            font-size: 35px;
        }
    }

    .noMarks {
        :global(.react-clock__mark__body) {
            background-color: transparent;
        }
    }
}

.bothWrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 1000px;
    background-color: var(--bg-color);
    backdrop-filter: var(--bg-effect);
    width: var(--component-w);
    aspect-ratio: 1;

    &.bigClock {
        position: absolute;
        inset: 0;
        border-radius: 0;
        background: none;
        backdrop-filter: none;
        width: auto;
    }

    .digitalWrapper {
        z-index: 0;
        position: absolute;
        bottom: 60px;
        left: 50%;
        transform: translateX(-50%);
        backdrop-filter: none;
        background-color: var(--dark-bg);
        border-radius: var(--component-rd);

        .digitalTime {
            font-size: var(--title-fz);
            font-family: var(--main-font);
        }
    }

    .analogWrapper {
        background: none;
        backdrop-filter: none;
        z-index: 10;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.bothWrapperBig {
    height: 100%;
    width: auto;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    translate: -50% 0;
}

.digitalWrapper {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    gap: 8px;
    background: var(--bg-color);
    backdrop-filter: blur(6px);
    border-radius: 12px;
    border: var(--bd);
    padding: 10px;

    .digitalTime {
        font-family: var(--main-font);
        min-width: 9ch;
        font-size: 48px;
        color: var(--mantine-color-gray-0);
        letter-spacing: 4px;
    }

    .digitalAmPm {
        font-family: var(--main-font);
        font-size: 18px;
        color: var(--mantine-color-gray-4);
    }
}