.weatherBox {
    width: 400px;
    background: var(--bg-color);
    backdrop-filter: var(--bg-effect);
    border-radius: var(--component-rd);
    padding: var(--component-pd);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .smallPreview {
        display: flex;
        align-items: center;
        gap: 0px;
        justify-content: flex-end;
        flex: 1;

        .infoStack {
            display: flex;
            flex-direction: column;
            gap: 0px;
            align-items: flex-end;

            .info {
                font-family: var(--main-font);
                color: var(--glyph-color-filled);
            }
        }
    }
}

.hourlyList {
    height: fit-content;
    border-bottom: var(--inner-bd);
    display: flex;
    flex-direction: row;

    .hourlyItem {
        height: 150px;
        width: 100px;
        flex-shrink: 0;
        color: white;
        font-family: var(--main-font);
        display: flex;
        flex-direction: column;
        align-items: center;

        &:not(:last-child) {
            border-right: var(--dimmed-bd);
        }
    }
}

.hourlyTempRow {
    display: flex;
    gap: 5px;
    justify-content: center;
    width: 100%;
}

.hourlyPrecipRow {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.weeklyList {
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-family: var(--main-font);
    color: var(--glyph-color-filled);

    .forecastRow {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;

        &:not(:last-child) {
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        }

        .forecastDay:first-child {
            padding-left: 20px;
            font-size: 20px;
        }
    }

    .forecastPrecip {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .forecastTemps {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        gap: 6px;
    }
}